# sbt specific
dist/
target/
boot/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
project/project/
project/target/

# data folders
data/in/
data/out/

# editors etc
.scala_dependencies
.tags*
.sublime*
.atom*
.ensime*
.idea*
.vscode*